<div class="sidebar">
  <h1><a href="/" class="black no-underline">Will Farrington</a></h1>
  <div class="about">
    <p>You might know me as <strong>@wfarr</strong> on <a href="http://twitter.com/wfarr" title="twitter profile">Twitter</a> and <a href="https://github.com/wfarr" title="github profile">GitHub</a>.</p>
    <p>I work on system operations at <a href="https://github.com/" title="github">GitHub</a>.</p>
    <p>I've previously consulted on a number of web applications, both independently and as a former employee of <a href="http://highgroove.com/">Highgroove Studios</a>. Before that, I also worked at <a href="http://railsmachine.com/">Rails Machine</a> doing Web Operations development and consulting.</p>
    <p>I sometimes write about things here.</p>
  </div>
  <div class="content">
    <p>If you'd like to get in touch with me, you can reach me <a href="mailto:wcfarrington+blogform@gmail.com">here</a>.</p>
  </div>
</div>
