<div class="sidebar">
  <h1><a href="/" class="black no-underline">Will Farrington</a></h1>
  <div class="links">
    <a href="https://github.com/wfarr"><img src="/images/github.png" /></a>
    <a href="http://twitter.com/wfarr"><img src="/images/twitter.png" /></a>
  </div>
  <div class="about">
    <p>I work on system operations at <a href="https://github.com/" title="github">GitHub</a>.</p>
    <p>If you'd like to get in touch with me, hit me up <a href="mailto:wcfarrington+blogform@gmail.com">here</a>.</p>
  </div>
</div>
