<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} // Will Farrington</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Will Farrington" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
         {% include sidebar.html %}
        </div>
        <div class="span9">
          {{ content }}
        </div>
      </div>
    </div>
    <div class="clearfix">&nbsp;</div>

    <script type="text/javascript">
    {% include gauges.js %}
    </script>

  </body>
</html>

